# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]


# Virtual environments
env/
venv/
.venv/
ENV/

# Logs and temporary files
*.log
*.tmp
*.bak

# IDE files
.vscode/
.idea/
